$base-color: #ced4da;
$light-background: lighten(desaturate($base-color, 50%), 12.5%);

.container {
  padding: 25px;
}

ul.pagination {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  li.page-item.active {
    a.page-link {
      color: saturate(darken($base-color, 50%), 5%);
      background-color: saturate(lighten($base-color, 7.5%), 2.5%);
    }
  }

  a.page-link {
    text-decoration: none;
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    color: saturate(darken($base-color, 30%), 10%);
    font-weight: 900;
    font-size: 1rem;

    &:hover {
      background-color: $light-background;
    }
  }
}
