ul.item-container {
  list-style-type: none;
  li {
    border-bottom: 1px solid #ccc;
    img {
      width: 120px;
      margin-right: 7px;
    }
  }
}

a {
  text-decoration: none;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  padding-top: 0;
}

.animation {
  justify-content: center;
  img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animation img {
  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
}

.darken {
  filter: brightness(50%);
}

.clicked {
  color: blue;
  font-weight: 500;
}
